<html>
<head>
<link rel="stylesheet" href="../css/loginaccount.css">
<title>Create an Account</title></head>
<body>

<form action="/new_account" method="post">
<h3>Create an Account</h3>
<br><br>
  Enter a username:<br>
  <input type="text" name="username">
  <br><br>
  Enter a password:<br>
  <input type="password" name="password">
  <br><br>
  Confirm your password:<br>
  <input type="password" name="confirm_password">
  <br><br>
  Enter your zip-code:<br>
  <input type="text" name="location">
  <br><br>
 <input type="submit" value="Submit">
</form>

</body>
</html>
