<html>
<head>
<link rel="stylesheet" href="../css/loginaccount.css">
<title>Login Page</title></head>
<body>
<form action="/login" method="post">
<h3>Welcome Back!</h3>
<br><br>
  Username:<br>
  <input type="text" name="username">
  <br><br>
  Password:<br>
  <input type="password" name="password">
  <br><br>
 <input type="submit" value="Submit">
</form>
<br><br>
<form action="/create_account" method="get">
 <input type="submit" value="Create an Account">
</form>

</body>
</html>
