<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/survey.css') }}">

<title>Questionaire</title></head>
<body>
<h3><br>Restaurant Questionaire</h3>
<form id='form' action=/survey method="post">
 Enter a username:<br>
  <input type="text" name="username">
  <br><br>
Select the distance you are willing to travel: <br>
  <select name="distance">
    <option value="0">Near</option>
    <option value="1">Far</option>
  </select><br><br>
How large is your party?: <br>
  <input type="text" name="partysize">
  <br><br>
How formal is your meal?<br>
 <select name="formal">
    <option value="Casual">Casual</option>
    <option value="Dressy">Dressy</option>
  <option value="Formal">Formal</option>
  </select><br><br>
Alcohol?<br>
<select name="alcohol">
    <option value="0">No</option>
    <option value="1">Yes</option>
  </select><br><br>
Enter in a ballpark entree price: <br>
 <input type="text" name="maximum"><br><br>
Dining, Take-Out, or Delivery? <br>
<select name="delivery">
    <option value="Dining">Dining</option>
    <option value="Take-Out">Take-Out</option>
  <option value="Delivery">Delivery</option>
  </select><br><br>
Would you prefer to visit a new restaurant or one you've visited already? <br>
<select name="newOld">
    <option value="0">New</option>
    <option value="1">Old</option>
<option value="2">No Preference</option>
  </select><br>
<br>
 <input type="submit" value="Submit">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script src="{{ url_for('static',  filename='survey.js') }}" />
</body>
</html>
