<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/survey.css') }}">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',  filename='survey.js') }}" ></script>

<title>Questionaire</title></head>
<body>
<div id="main">
  <h3><br>Restaurant Questionaire</h3>
  <h4><br>Hello {{ username }}!</h4>
  <form id='form' method="post">
  How large is your party?: <br>
    <input type="text" name="partysize">
    <br><br>
  How formal is your meal?<br>
  <select name="formal">
      <option value="Casual">Casual</option>
      <option value="Dressy">Dressy</option>
    <option value="Formal">Formal</option>
    </select><br><br>
  Alcohol?<br>
  <select name="alcohol">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select><br><br>
  Enter in a ballpark entree price: <br>
  <input type="text" name="maximum"><br><br>
  Dining, Take-Out, or Delivery? <br>
  <select name="delivery">
      <option value="Dining">Dining</option>
      <option value="Take-Out">Take-Out</option>
    <option value="Delivery">Delivery</option>
    </select><br><br>
  Would you prefer to visit a new restaurant or one you've visited already? <br>
  <select name="new_or_old">
      <option value="0">Any</option>
      <option value="1">Previously Visited</option>

    </select><br>
  <br>
  <button id="submit" type="button">Submit</button>
  </form>
</div>
</body>
</html>
