<!DOCTYPE html>
<html>

<head>

    <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
  <!-- Latest compiled JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js') }}"></script>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

<style>
body{
background: #1abc9c
}
</style>

</head>




<body>
  <div class="title" id = "rule">
    <h1 style="text-align:center;"><b>Click Left If You're Not Interested, Right If You Are Interested</b></h1>
  </div>
  <div class="arrows" style="width=100px;height=100px">
    <input type="image" src="{{ url_for('static', filename='left-arrow.png') }}" name="left-arrow" class="left-arrow" id="left-arrow" style="position:absolute; width=50%; height=50%;left:1px; top:250px;">
    <input type="image" src="{{ url_for('static', filename='right-arrow.png') }}" name="right-arrow" class="right-arrow" id="right-arrow" style="position:absolute; width=50%; height=50%; right:1px; top:250px;">
  </div>
  <div class="card" style="width=200px;height=300px" id = "rest">
    <img id="currImage" style="width:100%" align="center">
    <div style="text-align:center;border:1px solid blue">
      <h4 id="caption"><b></b></h4>
    </div>
  </div>
  <div id="choose" align="center">
  <form id="chooseOne" action="/final_restaurant" method="post">
    <select id="selector" name = "restaurant">
      <option>Choose a restaurant</option>
    </select>
    <input id="button" type="submit" value="Choose"></input>

  </form>
  </div>
  <div class = "title" id="none" align="center">
    <h1 style="text-align:center;"><b>You Didn't Swipe Right On Any Restaurants!</b></h1>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>


</html>
