a {
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

li {
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body {
font-family: "Raleway", sans-serif;
}
